.main-table {
	margin-bottom: 30px;
}

.table {
	margin-bottom: 10px;
}

.table__item-head {
	margin-bottom: 10px;

	background-color: rgb(85, 84, 84);
	color: #fff;
}

.table__item {
	background-color: rgba(100, 148, 237, 0.2);

	&:not(:last-child) {
		margin-bottom: 10px;
	}
}

.table-row {
	display: flex;
	gap: 10px;
	padding: 5px 20px;
	max-height: 40px;
}

.table-row__item {
	flex-basis: calc((100% - 10px * 5) / 6);
	display: flex;
	align-items: center;
	gap: 5px;

	&:last-child {
		justify-content: flex-end;
	}
}

.icon-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3px;

	background-color: rgb(75, 74, 74);
	border-radius: 50%;
}

.table-icon {
	fill: #fff;
}

.btn-edit {
	&:hover,
	&:focus {
		color: rgba(78, 172, 1, 0.973);
	}
}

.btn-archive {
	&:hover,
	&:focus {
		color: rgba(201, 171, 3, 0.973);
	}
}

.btn-unarchive {
	&:hover,
	&:focus {
		color: rgb(2, 184, 230);
	}
}

.btn-delete,
.btn-archived-delete {
	&:hover,
	&:focus {
		color: red;
	}
}

.icon {
	fill: currentColor;
}

.btn-wrapper {
	display: flex;
	gap: 10px;
}

.create-note-btn,
.toggle-archive-btn {
	padding: 5px 10px;

	border: 1px solid rgb(85, 84, 84);
	border-radius: 8px;

	&:hover,
	&:focus {
		border-color: rgba(100, 148, 237, 0.6);
		background-color: rgba(100, 148, 237, 0.6);
		color: #fff;
	}
}
