<div class="main-table">
	<ul class="table">
		<li class="table__item-head">
			<ul class="table-row">
				<li class="table-row__item">Name</li>
				<li class="table-row__item">Created</li>
				<li class="table-row__item">Category</li>
				<li class="table-row__item">Content</li>
				<li class="table-row__item">Dates</li>
				<li class="table-row__item">
					<svg class="table-icon" width="24" height="24">
						<use href="assets/images/main-table/icons.svg#icon-archive"></use>
					</svg>
					<svg class="table-icon" width="24" height="24">
						<use href="assets/images/main-table/icons.svg#icon-delete"></use>
					</svg>
				</li>
			</ul>
		</li>
		<ul class="render-todo">
		</ul>
	</ul>
	<div class="btn-wrapper">
		<button class="create-note-btn" type="button">Create Note</button>
		<button class="toggle-archive-btn show" type="button">Show Archive</button>
	</div>
</div>