<div class="modal-wrapper modal-wrapper-close">
	<div class="modal">
		<button class="close-btn" type="button">Close</button>
		<form class="modal__form">
			<label class="form-label">
				<span class="label-title">Name</span>
				<input class="form-input" name="name" type="text">
			</label>
			<label class="form-label">
				<span class="label-title">Category</span>
				<select class="form-select modal-select" name="categories">
					<option selected>Task</option>
					<option value="Random Thought">Random Thought</option>
					<option value="Idea">Idea</option>
					<option value="Quote">Quote</option>
				</select>
			</label>
			<label class="form-label">
				<span class="label-title">Content</span>
				<textarea class="form-input" name="content" rows="5"></textarea>
			</label>
			<button class="form-btn">Create Note</button>
		</form>
	</div>
</div>